/* Start My Personal Theme */
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #141414;
}

:root {
  --hover-main-on: #c50202;
  --main-color: #9b0000;
  --hover-main-color: #5f0000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-main-color);
}

.shine-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shine {
  font-size: 3em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
  );
  background-clip: text;
  background-size: 200% 100%;
  animation: shineAnimation 5s infinite;
}
  
@keyframes shineAnimation {
  0%,
  10% {
    background-position: -200px;
  }
  20% {
    background-position: 0;
  }
  100% {
    background-position: 200px;
  }
}
/* End My Personal Theme */

/* Start Section navbar-top */
.navbar-top{
  background-color: black;
  border-bottom: 2px solid var(--main-color);
  z-index: 3000;
}

.navbar-top .navbar-brand span {
  color: var(--main-color);
}

.navbar-top .nav-item .nav-link {
  transition: all 0.5s;
  color: #fff;
}

.navbar-top .nav-item .nav-link:hover{
  color: var(--main-color);
  transition: all 0.5s;
}

.navbar-top .navbar-brand {
  color: #fff;
  font-size: 30px;
}

.navbar-top button{
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  transition: all 0.5s;
  padding: 5px 18px;
}

.navbar-top button:hover{
  background-color: var(--hover-main-color);
  transition: all 0.5s;
}
/* End Section navbar-top */

/* Start Section home */
.home{
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-image: url("../assets/images/Cover.jpg");
  z-index: 1000;
}

.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1; 
}

.home .left{
  color: #fff;
}

@media(max-width: 767px){
  .home .left{
    margin-top: 40px; 
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .home .left{
    margin-top: 40px; 
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .home .left{
    margin-top: 40px; 
  }
}

.home .left h2 {
  font-style: italic;
}

.home .left .icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 10px;
}

.home .left .icons-container i {
  font-size: 2rem;
  transition: transform 0.3s;
}

.home .left .icons-container i:hover {
  transform: scale(1.1);
}

.home .left p{
  color: #c9c9c9;
}

.home .left svg{
  font-size: 43px;
  margin: 0px 3px;
}

.home .left svg[id='html']{
  color: #E34F26;
}

.home .left svg[id='css']{
  color: #1572B6 ;
}

.home .left svg[id='js']{
  color: #F7DF1E;
}

.home .left svg[id='boot']{
  color: #7952B3;
}

.home .left svg[id='sass']{
  color: #CC6699;
}

.home .left svg[id='angular']{
  color: #DD0031;
}

.home .left svg[id='react']{
  color: #61DAFB;
}

.home .left button{
  margin-right: 15px;
}

.home .left button,
.home .left button::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.home .left h2 span{
  color: var(--main-color);
}

.home .left button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOVER ME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.home .left button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
}

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
}

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
}

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
}

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
}

60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
}

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
}

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
}

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
}

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
}
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.home .right img.img-fluid{
  max-width: 176%;
}

@media(max-width: 767px){
  .home .right {
    margin-top: 40px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .home .right {
    margin-top: 40px;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  .home .left{
    margin-top: 40px; 
  }
  
  .home .left button{
    margin: 7px 3px;
  }
}
/* End section home */

/* Start section news */
.news .group{
  position: relative;
  top: -30px;
  height: 30px;
  overflow: hidden;
  color: #fff;
  background-color: #0000008e;
  border-bottom: 2px solid #009cff;
  border-top: 2px solid #009cff;
}

.news .group .text{
  position: absolute;
  margin: 2px 0px;
  padding: 0px;
  width: max-content;
  animation: my-animation 24s linear infinite;
}
/* End section news */

/* Start section about */
.about {
  overflow: hidden;
}

.about .container{
  background-color: black;
  border-left: 2px solid #9b0000;
  padding: 10px 20px;
  border-radius: 5px;
}

.about .left img {
  border-radius: 10px;
  transition: all 0.5s;
  border: 7px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about .right p{
  color: #fff;
  font-size: 20px;
}

.about .right button{
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  transition: all 0.5s;
  padding: 5px 18px;
}

.about .right button:hover{
  background-color: var(--hover-main-color);
  transition: all 0.5s;
}
/* End section about */

/* Start Section resume */
.resume {
  overflow: hidden;
}

.resume .intro p {
  color: gray;
  font-size: 19px;
}

.resume .card {
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  padding: 30px;
}

.resume .card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--main-color) 0%, var(--hover-main-color) 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.resume .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, var(--main-color) 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.resume .card .special {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}

.resume .card p {
  color: gray;
}

.resume .card .special-two {
  color: #d0d0d0;
  font-weight: bold;
}

.resume .card .heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.resume .card:hover::after {
  filter: blur(60px);
  -webkit-filter: blur(60px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* End Section resume */

/* Start section skills */
.skills{
	color: #fff;
}

.skills li{
	list-style-type: none;
	font-family: sans-serif;
}

.skills li{
	margin: 20px 0;
}

.skills .bar{
	background-color: #000000;
  display: block;
  height: 4px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 0 32px #2187e7b3;
}

.skills .bar span{ /*style the span tag*/
	height: 2px;
	float: left;
	background-color: #2187e7;
}

.skills .html{
	width: 80%;
	animation: html 2s;
}

.skills .css{
	width: 75%;
	animation: css 2s;
}

.skills .javascript{
	width: 30%;
	animation: javascript 2s;
}

.skills .bootstrap{
	width: 90%;
	animation: javascript 2s;
}

.skills .c-language{
	width: 30%;
	animation: javascript 2s;
}

.skills .angular{
	width: 40%;
	animation: javascript 2s;
}

.skills .sass{
	width: 50%;
	animation: javascript 2s;
}

@keyframes html{
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ 
	0%{
		width: 0%;
	}

	100%{
		width: 93%;
	}
}

@keyframes javascript{ 
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes jquery{ 
	0%{
		width: 0%;
	}

	100%{
		width: 30%;
	}
}
/* End section skills */

/* Start section our-service */
.my-service{
  overflow: hidden;
  color: #fff;
}

.my-service .card-container {
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.my-service .card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: black;
}

.my-service .card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.my-service .card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.my-service .card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.my-service .card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.my-service .card:hover .content {
  transform: translateY(0);
}

.my-service .card:hover .front-content {
  transform: translateX(20%);
}

.my-service .card:hover .front-content p {
  opacity: 0;
}
/* End section our-service */

/* Start Section skills */
.skills .card {
  width: 190px;
  height: 254px;
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 15px;
}

.skills .card .content {
  border-radius: 10px;
  background: #171717;
  width: 186px;
  height: 250px;
  z-index: 1;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills .content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: #fff5;
  width: 50px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
}

.skills .card:hover .content::before {
  opacity: 1;
}

.skills .card::before {
  opacity: 1;
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 300px;
  transform: rotate(0deg) translateY(50%);
  background: linear-gradient(90deg, #ff2288, transparent);
  transition: opacity 300ms;
  animation: rotation_9018 3000ms infinite linear;
  animation-play-state: paused;
}

.skills .card::after {
  opacity: 1;
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 300px;
  transform: rotate(0deg) translateY(-50%);
  background: linear-gradient(90deg, transparent, #2268ff);
  transition: opacity 300ms;
  animation: rotation_9019 3000ms infinite linear;
  animation-play-state: paused;
}

.skills .card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.skills .card:hover::after {
  opacity: 1;
  animation-play-state: running;
}

.skills .card:hover .glass {
  opacity: 0;
}

.skills .glass {
  position: absolute;
  content: "";
  display: block;
  width: 190px;
  height: 254px;
  background: #17171733;
  backdrop-filter: blur(50px);
  z-index: 1;
  transition-duration: 0.5s;
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg) translateY(50%);
  }

  100% {
    transform: rotate(360deg) translateY(50%);
  }
}
@keyframes rotation_9019 {
  0% {
    transform: rotate(0deg) translateY(-50%);
  }

  100% {
    transform: rotate(360deg) translateY(-50%);
  }
}
/* End Section skills */

/* Start Section Portfolio */
.portfolio {
  overflow: hidden;
}

.portfolio section {
  background: #000000;
  padding: 50px 0;
}

.portfolio .container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}

.portfolio .container h2 {
  position:relative;
  font-family:'Abril Fatface';
  font-weight:normal;
  font-size: 50px;
  text-align:center;
  margin: 35px 0px;
  color:rgba(255,255,255,0.95);
}

.gallery{
  width: 100%;
}

.gallery-container{
  display: flex;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item{
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4{
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.gallery-item-2{
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}
/* End Section Portfolio */

/* Start section statistics */
.statistics{
  color: #fff;
  margin: 120px 0px;
}

.statistics h2{
  position:relative;
  font-family:'Abril Fatface';
  font-weight:normal;
  font-size: 50px;
  text-align:center;
  cursor:pointer;
  margin: 35px 0px;
  color:rgba(255,255,255,0.95);
  text-shadow:1px 1px rgba(246, 0, 153,0.8),
            -1px -1px rgba(15, 210, 255,0.8),
            -1px 0px rgba(255, 210, 0, 1);
}

.statistics h2:hover{
  -webkit-animation: wiggle 0.2s 2;
  /*transition:all ease-out 0.1s;*/
  text-shadow:30px 13px rgba(246, 0, 153,0.8),
            -38px -4px rgba(15, 210, 255,0.8),
            -2px -4px rgba(255, 210, 0, 1);
}

.statistics .box:hover{
  transition: all 0.5s;
}

.statistics .box:hover{
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
}

.statistics .box svg{
  font-size: 50px;
  margin-bottom: 20px;
}

.statistics .box h6{
  font-size: 20px;
}
/* End section statistics */

/* Start Section timeline */
.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}
/* End Section timeline */